*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 0 60px;
    background-color: #472D2D;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #d48c2f;
    font-size: 50px;
    font-family: 'Rubik Moonrocks', cursive;

    background-image: url(../images/online-coding-course-team-video.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.two{
    background-image: url(../images/WhatsApp\ Image\ 2022-04-30\ at\ 12.33.42\ PM.jpeg);
}